$white = #ffffff
$black = #000000


// Dark-green
$fonts = #efefef
$fonts = #749EA3
$fonts = black
$background = #001C20
$backgroundLinear = rgba(0, 28, 32, 0) 
$backgroundRadial = rgba(0, 28, 32, 0.85) 
$backgroundDark = #000d0f

// Light NEW
$background = #FFFCF4
$backgroundDark = white
$backgroundLinear = rgba(255, 252, 244, 0)
$backgroundRadial = rgba(255, 252, 244, 0.85)

// Black & white
// $fonts = #e2ede1
// $background = #000000
// $backgroundLinear = rgba(0, 0, 0, 0)
// $backgroundRadial = rgba(0, 0, 0, 0.85)

// $cursor = #385A5F
// $loadingDOM = #111111
// $loader = #efefef
// $loaderBackground = #3f3f3f

// // yellow
// $fonts = #000000
// $background = rgb(255, 250, 55)
// $backgroundLinear = rgba(255, 250, 55, 0)
// $backgroundRadial = rgba(255, 250, 55, 0.85)

// white
// $fonts = #000000
// $background = rgba(244, 244, 244, 1)
// $backgroundLinear = rgba(244, 244, 244, 0)
// $backgroundRadial = rgba(244, 244, 244, 0.85)



// $cursor = #385A5F
// $loadingDOM = #e2e2e2
$loader = #d3d3d3
// $loaderBackground = #e0e0e0
$loaderBackground = #898989

// $cursor = #385A5F
// $loadingDOM = #00272C
// $loader = #749EA3
// $loaderBackground = rgba(116, 158, 163, 0.5)

// Dark
// $fonts = rgba(255, 255, 255, .9)
// $background = #000111

// Light
// $fonts = #000111
// $background = #ffffff