$white = #ffffff
$black = #000000

$fonts = #749EA3
$background = #001C20

$cursor = #385A5F
$loadingDOM = #00272C

// Dark
// $fonts = rgba(255, 255, 255, .9)
// $background = #000111

// Light
// $fonts = #000111
// $background = #ffffff