@font-face 
    font-family: "Regular";
    src: url("../../assets/fonts/Inter-UI-Regular.otf");

@font-face 
    font-family: "Bold";
    src: url("../../assets/fonts/Inter-UI-Bold.otf");

@font-face 
    font-family: "Black";
    src: url("../../assets/fonts/Inter-UI-Black.otf");

@font-face 
    font-family: "SemiBold";
    src: url("../../assets/fonts/Inter-UI-SemiBold.otf");

@font-face 
    font-family: "Medium";
    src: url("../../assets/fonts/Inter-UI-Medium.otf");