aside {
  width: 6vw;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}
aside .tips {
  width: 60px;
  display: flex;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 300ms ease, visibility 300ms ease;
}
aside .tips__arrow {
  width: 7px;
  height: 12px;
  position: relative;
  margin-right: 10px;
}
aside .tips__arrow::before {
  content: '';
  width: 1px;
  height: 8px;
  position: absolute;
  left: 50%;
  background-color: $fonts;
  transform: translate(-50%, 0px) rotate(45deg);
}
aside .tips__arrow::after {
  content: '';
  width: 1px;
  height: 8px;
  position: absolute;
  left: 50%;
  background-color: $fonts;
  transform: translate(-50%, 5px) rotate(-45deg);
}
aside .tips.visible {
  opacity: 0.6;
  visibility: visible;
}
aside .tips--close {
  position: absolute;
  flex-direction: column-reverse;
  text-align: center;
  margin-top: 4px;
  align-items: center;
  justify-content: center;
}
aside .tips--close .tips__arrow {
  transform: rotate(-90deg);
  height: 100%;
  margin-top: 8px;
}
aside .tips--close.visible {
  opacity: 0.6;
  visibility: visible;
}
