.leftSide {
  width: 20vw;
  height: calc(100% - 100px);
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 20;
}
@media screen and (max-width: $mobile) {
  .leftSide {
    height: 220px;
    width: 100vw;
    top: 0;
    left: 0;
    padding: 8vw;
    z-index: 10;
  }
}
