body {
  line-height: 1.4;
  font-family: Regular;
  font-size: 16px;
  color: $fonts;
  background-color: $background;
  padding: 50px 6vw;
  overflow-x: hidden;
}
@media screen and (max-width: $mobile) {
  body {
    color: $white;
  }
}
h1 {
  font-size: 90px;
  font-family: Black;
  text-transform: uppercase;
}
h2 {
  margin-bottom: 10px;
  font-size: 16px;
  font-family: SemiBold;
}
h3 {
  font-size: 16px;
  font-family: Bold;
  margin-bottom: 5px;
  opacity: 0.8;
}
.view.loading {
  pointer-events: none;
}
.view.loading li:not(.projectsPreviews__item) {
  background: $loadingDOM;
}
.view.loading a {
  background: $loadingDOM;
}
.view.loading img {
  opacity: 0;
}
