body {
  line-height: 1.4;
  font-family: Regular;
  font-size: 16px;
  color: $fonts;
  background-color: $background;
  padding: 50px 6vw;
  overflow-x: hidden;
  transition: height 300ms;
}
@media screen and (max-width: $mobile) {
  body {
    color: $white;
  }
}
h1 {
  font-size: 60px;
  font-family: Black;
  color: $fonts;
  opacity: 0.9;
  -webkit-background-clip: text;
  background-attachment: fixed;
}
@media screen and (max-width: $mobile) {
  h1 {
    font-size: 40px;
  }
}
h2 {
  margin-bottom: 24px;
  font-size: 16px;
  font-family: SemiBold;
}
h3 {
  font-size: 16px;
  font-family: Bold;
  margin-bottom: 5px;
  opacity: 0.8;
}
@media screen and (max-width: $mobile) {
  h3 {
    font-size: 12px;
  }
}
.container.loading {
  pointer-events: none;
}
.container.loading li:not(.projectsPreviews__item) {
  background: $loadingDOM;
}
.container.loading a {
  background: $loadingDOM;
}
.container.loading img {
  opacity: 0;
}
