// *
//   outline 1px yellow solid

body
  line-height 1.4
  font-family Regular
  font-size 16px
  color $fonts
  background-color $background
  padding 50px 6vw
  overflow-x hidden
  transition height 300ms
  // opacity 0
  @media screen and (max-width: $mobile)
    color $white
    // background-color black

h1
  font-size 60px
  font-family Black
  // color transparent
  // color rgba(255, 255, 255, 1)
  color $fonts
  // color yellow
  opacity .9
  -webkit-background-clip text
  background-attachment fixed
  @media screen and (max-width: $mobile)
    font-size 40px

h2
  margin-bottom 24px

  font-size 16px
  font-family SemiBold

h3
  font-size 16px
  font-family Bold
  margin-bottom 5px
  opacity .8 

  @media screen and (max-width: $mobile)
    font-size 12px

.container.loading
  pointer-events none
  // cursor wait
  li:not(.projectsPreviews__item)
    background $loadingDOM

  a
    background $loadingDOM

  img 
    opacity 0