body
  line-height 1.4
  font-family Regular
  font-size 14px
  color $fonts
  background-color $background
  padding 50px 6vw

h1
  font-size 40px
  font-family SemiBold

h2
  margin-bottom 10px

  font-size 16px
  font-family SemiBold