aside
  width 6vw
  height 100vh
  position fixed
  top 0
  right 0
  display flex
  align-items center
  justify-content center

  font-size 12px

  & .tips
    width 60px
    display flex
    align-items center
    // opacity .6
    opacity 0
    visibility hidden
    transition opacity 300ms ease, visibility 300ms ease

    &__arrow
      width 7px
      height 12px
      position relative
      margin-right 10px
      
      &::before
        content ''
        width 1px
        height 8px
        position absolute
        left 50%

        background-color $fonts

        transform translate(-50%, 0px) rotate(45deg)
      &::after
        content ''
        width 1px
        height 8px
        position absolute
        left 50%

        background-color $fonts
        
        transform translate(-50%, 5px) rotate(-45deg)

    &.visible
      opacity .6
      visibility visible

  & .tips--close
    position absolute
    flex-direction column-reverse
    text-align center
    margin-top 4px
    align-items center
    justify-content center

    & .tips__arrow
      transform rotate(-90deg)
      height 100%
      margin-top 8px
    
    &.visible
      opacity .6
      visibility visible