.background
  width 100vw
  height 100vh
  position fixed
  left 0
  top 0
  z-index -2

  transition transform $projectScrollTransitionDuration ease
  will-change transform
  overflow hidden
  filter blur(16px)

  &__image
    width 110%
    height 106%
    margin-left -5%
    margin-top -3%
    // overflow hidden

    & img
      width 100%
      height 100%
      object-fit cover

  &__gradient
    width 112%
    height 112%
    margin-left -6%
    margin-top -4%
    position absolute
    left 0
    top 0

    &--linear
      // background linear-gradient(180deg, rgba(0, 28, 32, 0) 0%, $background 96.69%)
      background linear-gradient(180deg, $backgroundLinear 0%, $background 96.69%)

    &--radial
      // background radial-gradient(454.42px at 50% 50%, rgba(0, 28, 32, 0.67) 0%, $background 100%)
      // background radial-gradient(470.00px at 50% 50%, rgba(0, 28, 32, 0.85) 0%, $background 100%)
      background radial-gradient(470.00px at 50% 50%, $backgroundRadial 0%, $background 100%)
      // background radial-gradient(470.00px at 50% 50%, rgba(255, 255, 255, 0.85) 0%, #FFFFFF 100%) // Light
      opacity .9

      transition opacity $projectScrollTransitionDuration ease
      will-change opacity 

.dynamicBackground
  position fixed
  width 100%
  height 120%
  background-color $backgroundDark
  left 0
  top 0
  opacity 0
  z-index -1