.background
  width 100vw
  height 100vh
  position fixed
  left 0
  top 0
  z-index -1

  &__image
    width 110%
    height 106%
    margin-left -5%
    margin-top -3%

    & img
      width 100%
      height 100%
      object-fit cover

  &__gradient
    width 112%
    height 106%
    margin-left -6%
    margin-top -3%
    position absolute
    left 0
    top 0

    &--linear
      background linear-gradient(180deg, rgba(0, 28, 32, 0) 0%, $background 96.69%)

    &--radial
      background radial-gradient(454.42px at 50% 50%, rgba(0, 28, 32, 0.67) 0%, $background 100%)
      opacity .6