.leftSide
  // background red
  width 20vw
  height calc(100% - 100px)
  position fixed
  display flex
  flex-direction column
  justify-content space-between

  @media screen and (max-width: $mobile)
    height 100px
    width 100vw
    top 0
    left 0
    padding 8vw
    background-color $background
    background: linear-gradient(180deg, #001C20 0%, rgba(0, 28, 32, 0) 100%);
    // background linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%)
    z-index 10