.rightSide
  // background orange
  width 56.6vw
  margin-left 31.4vw // 30vw of width + 1.4vw of margin
  // overflow hidden

  @media screen and (max-width: $mobile)
    width 88vw
    margin-left 0
    margin-top 150px