header
  opacity 0.01
  transform translateY(-200%)
  transition transform 300ms, opacity 300ms
  position fixed
  z-index 100
  li
    margin-bottom 6px
    opacity .6
    cursor pointer

    &.active
      text-decoration underline
      opacity 1

    a
      transition transform 1s easeIn

  @media screen and (max-width: $mobile)
    top 6vw
    // bottom 0
    // left 0
    ul
      display flex

    li
      margin-right 20px

  &.active
    opacity 1
    transform translateY(0px)


.container.loading
  header
    li
      background-color $loadingDOM
      a
        opacity 0

.container
  transition transform 500ms ease
  position relative 
  // z-index 100

.container.perspective
  transform scale(.8) translateY(0%)