.hero
  height calc(100vh - 100px)
  display flex
  flex-direction column
  justify-content center
  align-items center
  text-align center
  // transition transform $projectScrollTransitionDuration ease
  will-change transform


  &__title
    margin-bottom 50px
    // width 5em
    word-spacing 999999px
    // word-break break-word
    animation initHero 500ms both

  &__category
    margin-bottom 10px

    font-size 14px
    font-family SemiBold
    opacity .6
    animation initHero 500ms both

.openedProject
  animation init 300ms
// .content
//   animation init 300ms


@keyframes init {
  0% 
  { 
    opacity: 0 
    // transform translateY(100px)
  }
  100% 
  { 
    opacity: 1 
    // transform translateY(0px)
  }
}

@keyframes initHero {
  0% 
  { 
    // opacity: 0 
    transform translateY(50px)
  }
  100% 
  { 
    // opacity: 1 
    transform translateY(0px)
  }
}