.hero
  height calc(100vh - 50px)
  display flex
  flex-direction column
  justify-content center
  align-items center
  text-align center
  // transition transform $projectScrollTransitionDuration ease
  will-change transform

  &__title
    margin-bottom 50px
    width 5em
    word-break break-word

  &__category
    margin-bottom 10px

    font-size 14px
    font-family SemiBold
    opacity .6