.hero
  height calc(100vh - 100px)
  display flex
  flex-direction column
  justify-content center
  align-items center
  text-align center
  // transition transform $projectScrollTransitionDuration ease
  will-change transform
  animation initHero 500ms both


  &__title
    margin-bottom 50px
    // width 5em
    word-spacing 999999px
    transition transform 100ms
    // word-break break-word
    // animation initHeroScale 500ms both

  &__category
    margin-bottom 20px
    font-size 24px
    font-family SemiBold
    opacity .6
    transition transform 100ms
    @media screen and (max-width: 1200px)
      margin-bottom 30px
      font-size 20px
    @media screen and (max-width: $mobile)
      margin-bottom 20px
      font-size 18px
    // animation initHero 500ms both

  &__img
    position absolute
    width 20.8vw
    height 50vh
    margin-top -30px
    right 0
    z-index -1
    transition transform 100ms

    img
      width 100%
      height 100%
      object-fit cover
    @media screen and (max-width: $mobile)
      width 35vw

.openedProject
  animation init 300ms
// .content
//   animation init 300ms


@keyframes init {
  0% 
  { 
    opacity: 0 
    // transform translateY(100px)
  }
  100% 
  { 
    opacity: 1 
    // transform translateY(0px)
  }
}

@keyframes initHeroScale {
  0% 
  { 
    // opacity: 0 
    transform translateY(50px) scale(3)
  }
  100% 
  { 
    // opacity: 1 
    transform translateY(0px) scale(3)
  }
}

@keyframes initHero {
  0% 
  { 
    // opacity: 0 
    transform translateY(50px)
  }
  100% 
  { 
    // opacity: 1 
    transform translateY(0px)
  }
}