.humanResources
  p
    opacity .5
  &__role
    margin-bottom 50px
  &.hidden
    opacity 0
    visibility hidden

.date
  position fixed
  bottom 50px
  right 8vw
  font-family Bold
  h3
    opacity .8
  &.hidden
    opacity 0
    visibility hidden