.projectsTitles
  // background pink
  flex 1
  margin 50px 0

  &__tab
    text-align right
    overflow hidden

.indicator
  width 100%
  height 1px
  background $fonts
  position absolute
  top 50%
  opacity .4
  transform translateY(-50%)