.projectsTitles
  // background pink
  flex 1
  margin 50px 0

  display flex
  align-items center // center rolling words
  justify-content flex-end

  &__tab
    text-align right
    overflow-y hidden

    flex 1

.indicator
  width 100%
  height 1px
  background $fonts
  position absolute
  top 50%
  opacity .4
  transform translateY(-50%)
  display none