.projectsTitles
  // background pink
  flex 1
  margin 50px 0

  display flex
  align-items center // center rolling words
  justify-content flex-end

  &__tab
    text-align right
    overflow-y hidden

    flex 1

.view.loading
  & .projectsTitles__list
    & li
      width 100%
      height 20px
      margin-bottom 10px
      // &.loaded
      //   width auto
      //   height auto
      //   margin-bottom 0

.indicator
  width 100%
  height 1px
  background $fonts
  position absolute
  top 50%
  opacity .4
  transform translateY(-50%)
  display none