.topGradient
  width 100vw
  height 200px
  position fixed
  top 0
  left 0
  pointer-events none
  // background linear-gradient(180deg, #F08080 0%, rgba(240, 128, 128, 0) 100%) // pink
  z-index 90
  @media screen and (max-width: $mobile)
    background linear-gradient(180deg, $background 0%, $backgroundLinear 100%)