body {
  overflow: hidden;
}
.canvas,
.glitch {
  display: none;
}
.command {
  position: absolute;
  left: 50%;
  top: 80%;
  font-size: 20px;
  transform: translateX(-50%) translateY(-50%);
  font-family: 'Slabo 27px';
  color: #5e5e6d;
  animation-name: command;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  animation-delay: 2s;
}
@-moz-keyframes command {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes command {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-o-keyframes command {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes command {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
