.contact {
  opacity: 0.01;
  transform: translateY(-200%);
  transition: transform 300ms, opacity 100ms;
  position: fixed;
  bottom: 50px;
  z-index: 100;
}
.contact.active {
  opacity: 0.6;
  transform: translateY(0%);
}
.contact.perspective {
  opacity: 0;
  transition: transform 300ms, opacity 100ms;
}
@media screen and (max-width: $mobile) {
  .contact {
    width: 100px;
    right: 6vw;
    top: 6vw;
    bottom: auto;
    position: fixed;
  }
  .contact a {
    visibility: hidden;
  }
  .contact a::after {
    content: 'send email';
    visibility: visible;
    position: absolute;
    right: 0;
    top: 0;
  }
}
.view.loading .contact {
  background-color: $loadingDOM;
}
.view.loading .contact a {
  opacity: 0;
}
body.project .contact {
  top: 50px;
  right: 6vw;
}
@media screen and (max-width: $mobile) {
  body.project .contact {
    top: 6vw;
    right: 6vw;
  }
}
body.project .contact a {
  visibility: hidden;
}
body.project .contact a::after {
  content: 'send email';
  visibility: visible;
  position: absolute;
  right: 0;
  top: 0;
}
