.contact {
  opacity: 0.6;
  transition: opacity 300ms;
}
@media screen and (max-width: $mobile) {
  .contact {
    right: 8vw;
    bottom: 26px;
    position: fixed;
  }
  .contact a {
    visibility: hidden;
  }
  .contact a::after {
    content: 'send email';
    visibility: visible;
  }
}
.view.loading .contact {
  background-color: $loadingDOM;
}
.view.loading .contact a {
  opacity: 0;
}
