.description {
  width: 43vw;
  margin: 0 auto;
  margin-top: 200px;
  text-align: center;
  font-size: 18px;
  font-family: SemiBold;
  opacity: 0.8;
  line-height: 1.6;
  will-change: transform;
  transition: transform $projectScrollTransitionDuration ease;
}
@media screen and (max-width: $mobile) {
  .description {
    width: auto;
  }
}
