header li {
  margin-bottom: 6px;
  opacity: 0.5;
}
header li.active {
  text-decoration: underline;
  opacity: 1;
}
.view.loading header li {
  background-color: $loadingDOM;
}
.view.loading header li a {
  opacity: 0;
}
