header {
  opacity: 0.01;
  transform: translateY(-200%);
  transition: transform 300ms, opacity 300ms;
  position: fixed;
  z-index: 100;
}
header li {
  margin-bottom: 6px;
  opacity: 0.6;
}
header li.active {
  text-decoration: underline;
  opacity: 1;
}
header li a {
  transition: transform 1s easeIn;
}
@media screen and (max-width: $mobile) {
  header {
    top: 6vw;
  }
  header ul {
    display: flex;
  }
  header li {
    margin-right: 20px;
  }
}
header.active {
  opacity: 1;
  transform: translateY(0px);
}
.container.loading header li {
  background-color: $loadingDOM;
}
.container.loading header li a {
  opacity: 0;
}
