.hero {
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  will-change: transform;
}
.hero__title {
  margin-bottom: 50px;
  width: 5em;
  word-break: break-word;
}
.hero__category {
  margin-bottom: 10px;
  font-size: 14px;
  font-family: SemiBold;
  opacity: 0.6;
}
