.hero {
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  will-change: transform;
}
.hero__title {
  margin-bottom: 50px;
  word-spacing: 999999px;
  animation: initHero 500ms both;
}
.hero__category {
  margin-bottom: 10px;
  font-size: 14px;
  font-family: SemiBold;
  opacity: 0.6;
  animation: initHero 500ms both;
}
.openedProject {
  animation: init 300ms;
}
@-moz-keyframes init {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes init {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes init {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes init {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes initHero {
  0% {
    transform: translateY(50px);
  }
  100% {
    transform: translateY(0px);
  }
}
@-webkit-keyframes initHero {
  0% {
    transform: translateY(50px);
  }
  100% {
    transform: translateY(0px);
  }
}
@-o-keyframes initHero {
  0% {
    transform: translateY(50px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes initHero {
  0% {
    transform: translateY(50px);
  }
  100% {
    transform: translateY(0px);
  }
}
