.humanResources li {
  opacity: 0.5;
}
@media screen and (max-width: $mobile) {
  .humanResources li {
    font-size: 12px;
  }
}
.humanResources__role {
  margin-bottom: 50px;
}
@media screen and (max-width: $mobile) {
  .humanResources__role {
    margin-bottom: 30px;
  }
}
.humanResources.hidden {
  opacity: 0;
  visibility: hidden;
}
.date {
  position: fixed;
  bottom: 50px;
  right: 6vw;
  font-family: Bold;
}
@media screen and (max-width: $mobile) {
  .date {
    bottom: 8vw;
    margin-bottom: -5px;
  }
}
.date h3 {
  opacity: 0.8;
}
.date.hidden {
  opacity: 0;
  visibility: hidden;
}
