.projectsPreviews {
  padding-top: 80px;
}
.projectsPreviews__item {
  margin-bottom: 50px;
  transition: transform 300ms ease;
}
.projectsPreviews__item.opened {
  transform: translateX(-31.4vw);
}
.projectsPreviews__category {
  margin-bottom: 6px;
  opacity: 0.6;
  font-size: 12px;
}
.projectsPreviews__image {
  height: 34vw;
}
.projectsPreviews__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}
