.projectsPreviews {
  perspective: 800px;
}
@media screen and (max-width: $mobile) {
  .projectsPreviews {
    padding-top: 0;
  }
}
.projectsPreviews__item {
  margin-bottom: 50px;
  transition: transform 150ms ease;
  transform-origin: left;
}
.projectsPreviews__item:hover img {
  transform: scale(1.05);
}
.projectsPreviews__category {
  margin-bottom: 6px;
  opacity: 0.6;
  font-size: 14px;
  height: 16px;
}
.projectsPreviews__image {
  height: 34vw;
  overflow: hidden;
  position: relative;
  background-color: $background;
  transition: transform $pageTransitionDuration, opacity $pageTransitionDuration;
}
@media screen and (max-width: $mobile) {
  .projectsPreviews__image {
    height: 52.8vw;
  }
}
.projectsPreviews__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
  transition: transform $pageTransitionDuration, opacity $pageTransitionDuration;
}
.projectsPreviews .background__gradient {
  opacity: 0;
  transition: opacity $pageTransitionDuration;
}
.view.loading .projectsPreviews a {
  display: block;
  background-color: $loadingDOM;
}
