.projectsTitles {
  flex: 1;
  margin: 50px 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.projectsTitles__tab {
  text-align: right;
  overflow-y: hidden;
  flex: 1;
}
.view.loading .projectsTitles__list li {
  width: 100%;
  height: 20px;
  margin-bottom: 10px;
}
.indicator {
  width: 100%;
  height: 1px;
  background: $fonts;
  position: absolute;
  top: 50%;
  opacity: 0.4;
  transform: translateY(-50%);
  display: none;
}
