.projectsTitles {
  flex: 1;
  margin: 50px 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 14px;
  font-family: 'Black';
  pointer-events: none;
  user-select: none;
}
.projectsTitles__tab {
  text-align: right;
  overflow-y: hidden;
  position: relative;
  font-size: 40px;
  margin-left: -6vw;
  transform: scale(1) translateX(0vw);
  flex: 1;
}
@media screen and (max-width: 1200px) {
  .projectsTitles__tab {
    transform: scale(1) translateX(0vw);
    font-size: 24px;
  }
}
@media screen and (max-width: $mobile) {
  .projectsTitles__tab {
    transform: scale(1);
  }
}
.projectsTitles li {
  margin: 10px 0;
  -webkit-text-stroke: 0.6px #000;
  color: $background;
  white-space: nowrap;
}
.container.loading .projectsTitles__list li {
  width: 100%;
  height: 20px;
  margin-bottom: 10px;
}
.indicator {
  width: 100%;
  height: 1px;
  background: $fonts;
  position: absolute;
  top: 50%;
  opacity: 1;
  transform: translateY(-50%);
  background-color: #f00;
  outline: none;
  display: none;
}
