.topGradient {
  width: 100vw;
  height: 200px;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 90;
}
@media screen and (max-width: $mobile) {
  .topGradient {
    background: linear-gradient(180deg, $background 0%, $backgroundLinear 100%);
  }
}
