@font-face {
  font-family: "Regular";
  src: url("../../assets/fonts/Inter-UI-Regular.otf");
}
@font-face {
  font-family: "Bold";
  src: url("../../assets/fonts/Inter-UI-Bold.otf");
}
@font-face {
  font-family: "Black";
  src: url("../../assets/fonts/Inter-UI-Black.otf");
}
@font-face {
  font-family: "SemiBold";
  src: url("../../assets/fonts/Inter-UI-SemiBold.otf");
}
@font-face {
  font-family: "Medium";
  src: url("../../assets/fonts/Inter-UI-Medium.otf");
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
*,
*::before,
*::after,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
input,
button,
textarea,
select {
  color: inherit;
  font-size: inherit;
  font-style: inherit;
  font-family: inherit;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-padding-start: 0;
  align-items: flex-start;
  text-index: 0;
  border: none;
  outline: none;
  background: none;
  padding: 0;
  margin: 0;
  width: auto;
  height: auto;
  line-height: 1em;
}
input[type=text],
input[type=reset],
input[type=password],
input[type=search],
input[type=email],
input[type=tel],
input[type=url],
input[type=time],
input[type=week],
input[type=month],
input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=number],
input[type=submit],
input[type=color],
input[type=file],
button,
textarea,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
input[type=color] {
  width: 1em;
}
input::-ms-clear {
  display: none;
}
details,
summary {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
body {
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%;
}
mark {
  background: none;
}
*,
*::before,
*::after,
*:before,
*:after {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
hr {
  height: 1px;
  margin: 0;
  padding: 0;
}
u {
  text-decoration: none;
}
table th {
  text-align: left;
}
a {
  color: inherit;
  outline: none;
}
body {
  line-height: 1.4;
  font-family: Regular;
  font-size: 16px;
  color: #000;
  background-color: #fffcf4;
  padding: 50px 6vw;
  overflow-x: hidden;
  overflow-y: auto;
  transition: perspective 500ms;
  perspective-origin: 0vw -50vh;
}
h1 {
  font-size: 120px;
  font-family: Black;
  color: #000;
  opacity: 1;
  -webkit-background-clip: text;
  background-attachment: fixed;
  -webkit-text-stroke: 1px #000;
  color: #fffcf4;
}
@media screen and (max-width: 1200px) {
  h1 {
    font-size: 80px;
  }
}
@media screen and (max-width: 800px) {
  h1 {
    font-size: 56px;
  }
}
h2 {
  margin-bottom: 24px;
  font-size: 16px;
  font-family: SemiBold;
}
h3 {
  font-size: 16px;
  font-family: Bold;
  margin-bottom: 5px;
  opacity: 0.8;
}
@media screen and (max-width: 800px) {
  h3 {
    font-size: 12px;
  }
}
.container.loading {
  pointer-events: none;
}
.container.loading li:not(.projectsPreviews__item) {
  background: $loadingDOM;
}
.container.loading a {
  background: $loadingDOM;
}
.container.loading img {
  opacity: 0;
}
.projects {
  display: flex;
  opacity: 1;
}
.leftSide {
  width: 20vw;
  width: 37vw;
  height: 100%;
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 20;
  transition: opacity 1s;
}
@media screen and (max-width: 800px) {
  .leftSide {
    width: 100vw;
    top: 0;
    bottom: auto;
    left: 0;
    height: auto;
    padding: 0 6vw;
    z-index: 10;
  }
}
.leftSide.perspective {
  opacity: 0;
  transition: opacity 100ms;
}
.openedProject .leftSide {
  height: auto;
  bottom: 50px;
  top: auto;
}
@media screen and (max-width: 800px) {
  .openedProject .leftSide {
    width: 40vw;
    bottom: 8vw;
    padding: 0 6vw;
  }
}
.rightSide {
  width: 56.6vw;
  margin-left: 31.4vw;
}
@media screen and (max-width: 800px) {
  .rightSide {
    width: 88vw;
    margin-left: 0;
  }
}
aside {
  width: 6vw;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}
aside .tips {
  width: 60px;
  display: flex;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 300ms ease, visibility 300ms ease;
}
aside .tips__arrow {
  width: 7px;
  height: 12px;
  position: relative;
  margin-right: 10px;
}
aside .tips__arrow::before {
  content: '';
  width: 1px;
  height: 8px;
  position: absolute;
  left: 50%;
  background-color: #000;
  transform: translate(-50%, 0px) rotate(45deg);
}
aside .tips__arrow::after {
  content: '';
  width: 1px;
  height: 8px;
  position: absolute;
  left: 50%;
  background-color: #000;
  transform: translate(-50%, 5px) rotate(-45deg);
}
aside .tips.visible {
  opacity: 0.6;
  visibility: visible;
}
aside .tips--close {
  position: absolute;
  flex-direction: column-reverse;
  text-align: center;
  margin-top: 4px;
  align-items: center;
  justify-content: center;
}
aside .tips--close .tips__arrow {
  transform: rotate(-90deg);
  height: 100%;
  margin-top: 8px;
}
aside .tips--close.visible {
  opacity: 0.6;
  visibility: visible;
}
.background {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: -2;
  transition: transform 0ms ease;
  will-change: transform;
  overflow: hidden;
  filter: blur(16px);
}
.background__image {
  width: 110%;
  height: 106%;
  margin-left: -5%;
  margin-top: -3%;
}
.background__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.background__gradient {
  width: 112%;
  height: 112%;
  margin-left: -6%;
  margin-top: -4%;
  position: absolute;
  left: 0;
  top: 0;
}
.background__gradient--linear {
  background: linear-gradient(180deg, rgba(255,252,244,0) 0%, #fffcf4 96.69%);
}
.background__gradient--radial {
  background: radial-gradient(470px at 50% 50%, rgba(255,252,244,0.85) 0%, #fffcf4 100%);
  opacity: 0.9;
  transition: opacity 0ms ease;
  will-change: opacity;
}
.dynamicBackground {
  position: fixed;
  width: 100%;
  height: 120%;
  background-color: #fff;
  left: 0;
  top: 0;
  opacity: 0;
  z-index: -1;
}
.content {
  width: 65vw;
  margin: 0 auto;
}
@media screen and (max-width: 800px) {
  .content {
    width: 100%;
  }
}
section {
  margin: 100px 0;
}
.section__image {
  width: 100%;
  height: 100%;
  position: absolute;
  flex-shrink: 0;
  transition: transform 0.3s ease, opacity 0.3s;
  will-change: transform;
  opacity: 1;
}
.section__image img,
.section__image video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.section__image.right {
  transform: translateY(0%) scale(1.04);
  opacity: 0;
}
.section__image.left {
  opacity: 0;
  transform: translateY(0%) scale(0.96);
}
.section__p {
  font-family: 'Regular';
  margin: 0 auto;
  font-size: 38px;
  font-family: SemiBold;
  opacity: 0.8;
  line-height: 1.6;
  transform: scale(0.9);
}
.section__description {
  height: 60vw;
  width: 120px;
  font-family: 'Bold';
}
.section--fixed {
  width: 65vw;
  height: 39vw;
}
@media screen and (max-width: 800px) {
  .section--fixed {
    width: 88vw;
    height: 52.8vh;
  }
}
.sticky {
  position: fixed;
  top: 0;
  width: 65vw;
  height: 39vw;
  display: flex;
  overflow: hidden;
  transform: translateY(100vh);
  z-index: -1;
}
@media screen and (max-width: 800px) {
  .sticky {
    width: 88vw;
    height: 52.8vh;
  }
}
footer {
  text-align: center;
  margin-top: 200px;
  position: relative;
  z-index: 110;
}
footer a {
  text-decoration: underline;
  margin-top: 50px;
  display: block;
}
.other {
  display: flex;
}
@media screen and (max-width: 800px) {
  .other a:nth-child(1) {
    display: block;
  }
  .other a:nth-child(2) {
    display: none;
  }
}
@media screen and (max-width: 650px) {
  .other a:nth-child(1),
  .other a:nth-child(2) {
    display: none;
  }
}
.other__project {
  width: auto;
  flex: 1;
  margin: 0 10px;
  transition: transform 400ms ease;
}
.other__project:first-child {
  margin-left: 0;
}
.other__project:last-child {
  margin-right: 0;
}
.other__project:hover img {
  transform: scale(1.1);
}
.other__image {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.other__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 500ms ease;
}
header {
  opacity: 0.01;
  transform: translateY(-200%);
  transition: transform 300ms, opacity 300ms;
  position: fixed;
  z-index: 100;
}
header li {
  margin-bottom: 6px;
  opacity: 0.6;
  cursor: pointer;
}
header li.active {
  text-decoration: underline;
  opacity: 1;
}
header li a {
  transition: transform 1s easeIn;
}
@media screen and (max-width: 800px) {
  header {
    top: 6vw;
  }
  header ul {
    display: flex;
  }
  header li {
    margin-right: 20px;
  }
}
header.active {
  opacity: 1;
  transform: translateY(0px);
}
.container.loading header li {
  background-color: $loadingDOM;
}
.container.loading header li a {
  opacity: 0;
}
.container {
  transition: transform 500ms ease;
  position: relative;
}
.container.perspective {
  transform: scale(0.8) translateY(0%);
}
.projectsTitles {
  flex: 1;
  margin: 50px 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 14px;
  font-family: 'Black';
  pointer-events: none;
  user-select: none;
}
.projectsTitles__tab {
  text-align: right;
  overflow-y: hidden;
  position: relative;
  font-size: 40px;
  margin-left: -6vw;
  transform: scale(1) translateX(0vw);
  flex: 1;
}
@media screen and (max-width: 1200px) {
  .projectsTitles__tab {
    transform: scale(1) translateX(0vw);
    font-size: 24px;
  }
}
@media screen and (max-width: 800px) {
  .projectsTitles__tab {
    transform: scale(1);
  }
}
.projectsTitles li {
  margin: 10px 0;
  -webkit-text-stroke: 0.6px #000;
  color: #fffcf4;
  white-space: nowrap;
}
.container.loading .projectsTitles__list li {
  width: 100%;
  height: 20px;
  margin-bottom: 10px;
}
.indicator {
  width: 100%;
  height: 1px;
  background: #000;
  position: absolute;
  top: 50%;
  opacity: 1;
  transform: translateY(-50%);
  background-color: #f00;
  outline: none;
  display: none;
}
.projectsPreviews {
  perspective: 800px;
}
@media screen and (max-width: 800px) {
  .projectsPreviews {
    padding-top: 0;
  }
}
.projectsPreviews__item {
  margin-bottom: 50px;
  transition: transform 150ms ease;
  transform-origin: left;
}
.projectsPreviews__item:hover img {
  transform: scale(1.05);
}
.projectsPreviews__category {
  margin-bottom: 6px;
  opacity: 0.6;
  font-size: 14px;
  height: 16px;
}
.projectsPreviews__image {
  height: 34vw;
  overflow: hidden;
  position: relative;
  background-color: #fffcf4;
  transition: transform 500ms, opacity 500ms;
}
@media screen and (max-width: 800px) {
  .projectsPreviews__image {
    height: 52.8vw;
  }
}
.projectsPreviews__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
  transition: transform 500ms, opacity 500ms;
}
.projectsPreviews .background__gradient {
  opacity: 0;
  transition: opacity 500ms;
}
.container.loading .projectsPreviews a {
  display: block;
  background-color: $loadingDOM;
}
.contact {
  opacity: 0.01;
  transform: translateY(-200%);
  transition: transform 300ms, opacity 100ms;
  position: fixed;
  bottom: 50px;
  z-index: 100;
}
.contact.active {
  opacity: 0.6;
  transform: translateY(0%);
}
.contact.perspective {
  opacity: 0;
  transition: transform 300ms, opacity 100ms;
}
@media screen and (max-width: 800px) {
  .contact {
    width: 100px;
    right: 6vw;
    top: 6vw;
    bottom: auto;
    position: fixed;
  }
  .contact a {
    visibility: hidden;
  }
  .contact a::after {
    content: 'send email';
    visibility: visible;
    position: absolute;
    right: 0;
    top: 0;
  }
}
.view.loading .contact {
  background-color: $loadingDOM;
}
.view.loading .contact a {
  opacity: 0;
}
body.project .contact {
  top: 50px;
  right: 6vw;
}
@media screen and (max-width: 800px) {
  body.project .contact {
    top: 6vw;
    right: 6vw;
  }
}
body.project .contact a {
  visibility: hidden;
}
body.project .contact a::after {
  content: 'send email';
  visibility: visible;
  position: absolute;
  right: 0;
  top: 0;
}
.octagon {
  width: 204px;
  height: 204px;
  position: fixed;
  left: 0;
  top: 0;
  pointer-events: none;
}
.octagon__container {
  width: 100%;
  height: 100%;
}
.octagon__container--rotate {
  animation: rotation 5s linear infinite;
}
.octagon__container--scale {
  transform: scale(0);
  visibility: hidden;
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease, visibility 0.3s ease;
}
.octagon__container--scale.active {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}
.octagon__part {
  width: 78px;
  height: 188px;
  position: absolute;
  left: 50%;
  top: 50%;
  background-color: #fff;
}
.octagon__part:nth-child(1) {
  transform: translate(-50%, -50%) rotate(22.5deg);
}
.octagon__part:nth-child(2) {
  transform: translate(-50%, -50%) rotate(-22.5deg);
}
.octagon__part:nth-child(3) {
  transform: translate(-50%, -50%) rotate(67.5deg);
}
.octagon__part:nth-child(4) {
  transform: translate(-50%, -50%) rotate(-67.5deg);
}
.octagon__text {
  width: 78px;
  height: 188px;
  position: absolute;
  left: 50%;
  top: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 4px 0;
  color: #fffcf4;
}
.octagon__text--1 {
  transform: translate(-50%, -50%) rotate(-22.5deg);
}
.octagon__text--1 p:nth-child(2) {
  transform: rotate(180deg);
}
.octagon__text--2 {
  transform: translate(-50%, -50%) rotate(22.5deg);
}
.octagon__text--2 p:nth-child(2) {
  transform: rotate(180deg);
  margin-bottom: 2px;
}
@-moz-keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
@-webkit-keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
@-o-keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
.cursor {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
}
.cursor__circle {
  width: 100%;
  height: 100%;
  background-color: $cursor;
  border-radius: 50%;
  opacity: 0;
  visibility: hidden;
  transform: scale(20);
  transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
}
.cursor__circle.active {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}
.cursor__circle.scale {
  transform: scale(1.8);
  opacity: 0.8;
}
.cursor__circle.fill {
  transform: scale(6);
  opacity: 1;
  transition: transform 300ms linear, opacity 300ms ease;
}
.hero {
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  will-change: transform;
  animation: initHero 500ms both;
}
.hero__title {
  margin-bottom: 50px;
  word-spacing: 999999px;
  transition: transform 100ms;
}
.hero__category {
  margin-bottom: 20px;
  font-size: 24px;
  font-family: SemiBold;
  opacity: 0.6;
  transition: transform 100ms;
}
@media screen and (max-width: 1200px) {
  .hero__category {
    margin-bottom: 30px;
    font-size: 20px;
  }
}
@media screen and (max-width: 800px) {
  .hero__category {
    margin-bottom: 20px;
    font-size: 18px;
  }
}
.hero__img {
  position: absolute;
  width: 20.8vw;
  height: 50vh;
  margin-top: -30px;
  right: 0;
  z-index: -1;
  transition: transform 100ms;
}
.hero__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media screen and (max-width: 800px) {
  .hero__img {
    width: 35vw;
  }
}
.openedProject {
  animation: init 300ms;
}
@-moz-keyframes init {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes init {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes init {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes init {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes initHeroScale {
  0% {
    transform: translateY(50px) scale(3);
  }
  100% {
    transform: translateY(0px) scale(3);
  }
}
@-webkit-keyframes initHeroScale {
  0% {
    transform: translateY(50px) scale(3);
  }
  100% {
    transform: translateY(0px) scale(3);
  }
}
@-o-keyframes initHeroScale {
  0% {
    transform: translateY(50px) scale(3);
  }
  100% {
    transform: translateY(0px) scale(3);
  }
}
@keyframes initHeroScale {
  0% {
    transform: translateY(50px) scale(3);
  }
  100% {
    transform: translateY(0px) scale(3);
  }
}
@-moz-keyframes initHero {
  0% {
    transform: translateY(50px);
  }
  100% {
    transform: translateY(0px);
  }
}
@-webkit-keyframes initHero {
  0% {
    transform: translateY(50px);
  }
  100% {
    transform: translateY(0px);
  }
}
@-o-keyframes initHero {
  0% {
    transform: translateY(50px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes initHero {
  0% {
    transform: translateY(50px);
  }
  100% {
    transform: translateY(0px);
  }
}
.description {
  width: 43vw;
  margin: 0 auto;
  margin-top: 200px;
  text-align: center;
  font-size: 18px;
  font-family: SemiBold;
  opacity: 0.8;
  line-height: 1.6;
  will-change: transform;
  transition: transform 0ms ease;
}
@media screen and (max-width: 800px) {
  .description {
    width: auto;
  }
}
.button {
  border: 2px solid #000;
  padding: 10px 50px;
  text-transform: uppercase;
  font-family: SemiBold;
  font-size: 14px;
  letter-spacing: 0.2em;
  margin: 80px 0;
  display: inline-block;
}
.loader {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
  opacity: 0;
  z-index: 99;
  width: 20vw;
  height: 2px;
  outline: 1px solid #000;
  transition-delay: 100ms;
}
.loader__fill {
  width: 100%;
  height: 100%;
  background-color: #000;
  transform-origin: left;
  transform: scaleX(0.1);
  transition: transform 150ms;
  animation: initLoader 300ms;
}
.projects {
  transition: transform 1s, opacity 1s;
  transition-delay: 100ms;
}
.projectsTitles {
  opacity: 1;
  transition: opacity 1s;
}
.projectsPreviews {
  transition: transform 1s;
}
.openedProject {
  transition: opacity 1s;
}
header,
.contact {
  transition: opacity 1s, transform 0.3s;
}
.loader.loading {
  visibility: visible;
  opacity: 1;
}
.loading .projects {
  opacity: 0;
}
.loading .projectsPreviews {
  transform: translateY(200px);
}
.loading .projectsTitles {
  opacity: 0;
}
.loading .contact {
  opacity: 0.01;
}
.loading .openedProject {
  opacity: 0.01;
}
.loading header {
  opacity: 0.01;
}
@-moz-keyframes initLoader {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(0.1);
  }
}
@-webkit-keyframes initLoader {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(0.1);
  }
}
@-o-keyframes initLoader {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(0.1);
  }
}
@keyframes initLoader {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(0.1);
  }
}
.scrollIndicator {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  left: 50%;
  bottom: 10px;
  transform: translateX(-50%);
  opacity: 0.6;
  transition: opacity 300ms, visibility 300ms, transform 300ms;
}
.scrollIndicator p {
  margin-bottom: 10px;
  animation: scrollIndicator 1s ease both infinite;
}
@media screen and (max-width: 800px) {
  .scrollIndicator p {
    font-size: 12px;
  }
}
.scrollIndicator .scrollArrow__body {
  width: 1px;
  height: 100px;
  transform-origin: bottom;
  background-color: #000;
}
.scrollIndicator .scrollArrow::before {
  content: '';
  width: 1px;
  height: 10px;
  background-color: #000;
  transform: translate(-128%, 3%) rotate(45deg);
  position: absolute;
  transform-origin: bottom;
  bottom: 0;
  left: 50%;
}
.scrollIndicator .scrollArrow::after {
  content: '';
  width: 1px;
  height: 10px;
  background-color: #000;
  transform: translate(-78%, 4%) rotate(-45deg);
  position: absolute;
  transform-origin: bottom;
  bottom: 0;
  left: 50%;
}
.scrollIndicator.hidden {
  opacity: 0;
  visibility: hidden;
  transform: translateX(-50%) scale(0.8);
}
@-moz-keyframes scrollIndicator {
  0% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes scrollIndicator {
  0% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes scrollIndicator {
  0% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes scrollIndicator {
  0% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
.humanResources li {
  opacity: 0.5;
}
@media screen and (max-width: 800px) {
  .humanResources li {
    font-size: 12px;
  }
}
.humanResources__role {
  margin-bottom: 50px;
}
@media screen and (max-width: 800px) {
  .humanResources__role {
    margin-bottom: 30px;
  }
}
.humanResources.hidden {
  opacity: 0;
  visibility: hidden;
}
.date {
  position: fixed;
  bottom: 50px;
  right: 6vw;
  font-family: Bold;
}
@media screen and (max-width: 800px) {
  .date {
    bottom: 8vw;
    margin-bottom: -5px;
  }
}
.date h3 {
  opacity: 0.8;
}
.date.hidden {
  opacity: 0;
  visibility: hidden;
}
.topGradient {
  width: 100vw;
  height: 200px;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 90;
}
@media screen and (max-width: 800px) {
  .topGradient {
    background: linear-gradient(180deg, #fffcf4 0%, rgba(255,252,244,0) 100%);
  }
}
.aboutContent {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  visibility: hidden;
  transition: opacity 500ms, visibility 500ms, transform 500ms;
  z-index: 200;
  background-color: #fffcf4;
  background-color: #000d0f;
  transform: translateY(100vh);
  overflow-y: scroll;
}
.aboutContent__content {
  width: 65vw;
  margin: 0 auto;
  margin-top: calc(50vh - 132px);
  margin-bottom: 100px;
  transform: translateY(-50%);
  opacity: 0.8;
  color: #fffcf4;
}
@media screen and (max-height: 580px), (max-width: 800px) {
  .aboutContent__content {
    margin-top: 0;
    transform: translateY(0);
  }
}
@media screen and (max-width: 800px) {
  .aboutContent__content {
    margin-top: 50px;
    width: 88vw;
  }
}
.aboutContent p {
  font-family: SemiBold;
  font-size: 38px;
  line-height: 1.6;
  margin-bottom: 50px;
  transform: translateY(100px) skewY(10deg);
  transform-origin: center;
  transition: 500ms transform 300ms;
}
.aboutContent.active {
  visibility: visible;
  transform: translateY(0vh);
}
.aboutContent__close {
  width: 45px;
  margin-left: 6vw;
  margin-top: 50px;
  cursor: pointer;
  display: flex;
  flex-flow: column;
  align-items: center;
  opacity: 0.8;
}
.aboutContent__cross {
  width: 45px;
  height: 60px;
  position: relative;
}
.aboutContent__crossBar {
  width: 3px;
  height: 60px;
  position: absolute;
  background-color: #fffcf4;
  left: 50%;
  top: 50%;
  transition: 300ms transform 250ms;
}
.aboutContent__crossBar:nth-child(1) {
  transform: translate(-50%, -50%) rotate(0deg);
}
.aboutContent__crossBar:nth-child(2) {
  transform: translate(-50%, -50%) rotate(0deg);
}
.aboutContent__closeLabel {
  text-align: center;
  font-family: SemiBold;
  font-size: 16px;
}
.aboutContent__network {
  transform: translateY(150px) scale(1.1) skewY(10deg);
  transform-origin: top left;
  transition: 500ms transform 300ms;
  display: flex;
}
.aboutContent__network a {
  margin-left: 50px;
}
.aboutContent__network a:nth-child(1) {
  margin-left: 0;
  text-decoration: underline;
}
.aboutContent__network a:nth-child(2) {
  text-decoration: underline;
}
.aboutContent.active p {
  transform: translateY(0px) skewY(0deg);
}
.aboutContent.active .aboutContent__network {
  transform: translateY(0px) scale(1.1) skewY(0deg);
}
.aboutContent.active .aboutContent__crossBar:nth-child(1) {
  transform: translate(-50%, -50%) rotate(45deg);
}
.aboutContent.active .aboutContent__crossBar:nth-child(2) {
  transform: translate(-50%, -50%) rotate(-45deg);
}
